<mat-toolbar [class]="inited ? 'mat-toolbar inited' : 'mat-toolbar'">
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 *ngIf="!isMobileQuery.matches">Movies App Project</h1>
  <div class="search">
    <mat-icon matSuffix class="search__icon">search</mat-icon>
    <div class="search__wrap">
      <input matInput #search placeholder="Search Movies" (keyup.enter)="searchQuery(search.value); search.value = ''">
    </div>
    <button mat-icon-button (click)="search.value = ''" *ngIf="search.value">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="nav-container">
  <mat-sidenav mode="side" #nav [opened]="isMobileQuery.matches ? 'false': 'true'" [mode]="isMobileQuery.matches ? 'over' : 'side'">
    <mat-list>
      <mat-list-item>
        <a class="side-link" routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="side-link" [routerLink]="['genre', 'action']" routerLinkActive="active" (click)="closeNav()">
          <mat-icon>whatshot</mat-icon>
          <span>Action</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="side-link" [routerLink]="['genre', 'comedy']" routerLinkActive="active" (click)="closeNav()">
          <mat-icon>sentiment_very_satisfied</mat-icon>
          <span>Comedy</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="side-link" [routerLink]="['genre', 'sport']" routerLinkActive="active" (click)="closeNav()">
          <mat-icon>motorcycle</mat-icon>
          <span>Sport</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <div class="app-content" [@routerTransition]="getRouterOutletState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>