@import "../vars";

.movie-details {
    margin-bottom: 10px;

    .movie-card {
        max-width: 530px;
        min-width: 280px;
        margin: 0 auto;
    }

    .movie-title {
        font-size: 24px;
        font-weight: 300;
    }

    .movie-info {
        font-size: 16px;
        line-height: 24px;

        .mat-icon {
            vertical-align: top;
        }
    }
}

@media #{$lgScreen} {
    .movies-item {
        width: 30%;
    }
}

@media #{$mdScreen} {
    .movies-item {
        width: 40%;
    }
}

@media #{$smScreen} {
    .movies-item {
        width: 100%;
    }
}